* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.content {
    width: 100%;
    height: 100vh;
}

#form-div {
    /* this div should be in center */
    width: 50%;
    height: 50%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid gainsboro;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: rgb(248, 248, 248);
}

#form-div>div:nth-child(1) {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-text {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

#form-div>div:nth-child(2),
#form-div>div:nth-child(3),
#form-div>div:nth-child(4),
#form-div>div:nth-child(5) {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#form-div div label {
    width: 20%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

#uName,
#uEmail,
#uPass,
#uRole {
    width: 80%;
    height: 40%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid gainsboro;
    border-radius: 10px;
    outline: none;
}

#form-div>div>select>option {
    font-size: 17px;
    font-weight: 500;
}

#reg-btn {
    width: 100%;
    height: 40%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid gainsboro;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.3s ease;
}

#reg-btn:hover {
    background-color: #524a4a;
    color: white;
}

.modal {
    /* align this modal in center */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.modal-content {

    width: 35%;
    height: 30%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    left: 33%;
    top: 33%;

}

.modal-header {
    /* this div consists the text */
    width: 80%;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 0 20px;
    height: 80px;
    top: 25%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header p {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #524a4a;
}

.modal-footer {
    /* this div consists the buttons */
    width: 80%;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    padding: 0 20px;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 60%;
}

.modal-yes {
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #524a4a;
    background-color: white;
    border: 1px solid #524a4a;
}

.modal-yes:hover {
    background-color: #524a4a;
    color: #fff;
}